TAVILY_API_KEY=Your_Tavily_API_Key_Here


LLAMA_CPP_URL=http://127.0.0.1:8080/v1
LLM_MODEL=qwen3
MAX_TOKENS=4096
MAX_ITER=5

MCP_SERVER=mcp_server.py
USE_UV=0

WEB_HOST=0.0.0.0
WEB_PORT=8000
ALLOWED_ORIGINS=*